# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.source.java':
    'main':
        'prefix':'main'
        'body':"""
        public class ${1:HelloWorld} {
            public static void main(String[] args) {
                ${2:System.out.println("Hello World!")};
            }
        }
        """
    'hash map':
        'prefix':'hm'
        'body':"""
        HashMap<${1:String}, ${2:String}> hashmap = new HashMap<${1:String}, ${2:String}>();
        hashmap.put(${3:"temp"}, ${4:"temp"});
        """
    'System.out.println':
        'prefix':'sout'
        'body':'System.out.println(${1:"Hello"})'

'.source.python':
    'if, elseif':
        'prefix': 'ifel'
        'body': """
        if ${1:true}:
            ${2:print 'hi'}
        elif ${3:false}:
            ${4:print 'there'}
        """
